{% extends "admin/base.html" %}
{% load i18n grp_tags %}


{% block extrastyle %}
    <link rel="icon" href="{{ STATIC_URL }}core/icons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}core/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}core/icons/touch57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}core/icons/touch72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}core/icons/touch114.png" />
{% endblock %}

{% block title %}{{ title }} | {% get_site_title %}{% endblock %}

{% block branding %}
    <div id="grp-branding"><a href="/"><img width="120px" src="{{ STATIC_URL }}core/img/logo.png" /></a></div>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block user-tools %}
    {% if user.is_authenticated %}
        <ul id="grp-user-tools">
            <!-- Userlinks -->
            {% block userlinks %}
                <!-- Username -->
                <li class="grp-user-options-container grp-collapse grp-closed {% if request.session.original_user %}grp-switch-user-is-target{% endif %}">
                    <a href="javascript://" class="user-options-handler grp-collapse-handler {% if request.session.original_user %}grp-switch-user-is-target{% else %}grp-switch-user-is-original{% endif %}">{% firstof user.get_short_name user.get_username %}</a>
                    <ul class="grp-user-options">
                        <!-- Change Password -->
                        {% if user.has_usable_password %}
                            <li><a href="{% url 'admin:password_change' %}" class="grp-change-password">{% trans 'Change password' %}</a></li>
                        {% endif %}
                        <!-- Logout -->
                        <li><a href="{% url 'admin:logout' %}" class="grp-logout">{% trans 'Log out' %}</a></li>
                        <!-- Switch -->
                        {% switch_user_dropdown %}
                    </ul>
                </li>
                <!-- Documentation -->
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}
