<html>
<head>
    <title>Release notes overview</title>
</head>
<body>
<h1>Release Notes</h1>
<h2>Paylogic Platform</h2>

<h3>How to read this document</h3>
Here are some hints about how to read this document:
<ul>
    <li>Every release has a note about when it’s expected to go live.</li>
    <li>
        Cases are spread out over categories, these should be fairly self explanatory:
        <ul>
            {% for category in categories %}
                <li>{{ category.title }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>
        Changes that are made after the release notes were initially written and communicated are marked as such to
        avoid confusion:
        <ul>
            <li>
                If a case is marked underlined it was added to the release
                (after the release initially went to staging).
            </li>
            <li>If a case is marked strike through it has been removed from the release.</li>
        </ul>
    <li>
        The release notes are maintained by the Operational IT team, so if you have comments or suggestions feel
        free to <a href="mailto:operational-it@paylogic.com">contact them</a>.
    </li>
</ul>
    {% for release in notes %}
        {{ release | safe }}
    {% endfor %}
</body>
</html>
