{% load i18n %}

<p style="font-style: italic">
    {% blocktrans with release_number=release.number release_date=release.datetime|date:"l, F j, Y" %}Release {{ release_number }} is expected to go live on {{ release_date }}.{% endblocktrans %}
</p>

{% if release.description %}
    <p style="font-style: italic">{{ release.description | safe }}</p>
{% endif %}

{% for category in categories %}
    {% if category.cases %}
    <p>
    <strong>{{ category.title }}:</strong><br>
        {% for case in category.cases %}
            {% if case.unmerged %}<span style="text-decoration: line-through">{% endif %}
            <a target="_blank" href="{{ case.url }}">{% trans 'Case' %} {{ case.id }}</a> - {{ case.title }}
            {% if case.unmerged %}</span>{% endif %}
            <br>
        {% endfor %}
    </p>
    {% endif %}
{% endfor %}
