{% load i18n %}
<p style="font-style: italic">
    {% blocktrans with release_number=release.number release_date=release.datetime|date:"l, F j, Y" %}Release {{ release_number }} is expected to go live on {{ release_date }}.{% endblocktrans %}
    {{ release.description | safe }}
</p>
{% for category in categories %}
    {% if category.cases %}
    <strong>{{ category.title }}:</strong>
        <br />
        {% for case in category.cases %}
            {% if case.unmerged %}<span style="text-decoration: line-through">{% endif %}
            <a target="_blank" href="https://case.paylogic.eu/fogbugz/?{{ case.id }}">{% trans 'Case' %} {{ case.id }}</a> - {{ case.title }}
            {% if case.unmerged %}</span>{% endif %}
            <br>
        {% endfor %}
    <br>
    {% endif %}
{% endfor %}
