{% extends "admin/core/release_notes/base.html" %}
{% load i18n %}
{% block content %}
    <h2>{{ settings.RELEASE_NOTES_TITLE }}</h2>

    <h3>{% trans "How to read this document" %}</h3>
    {% trans "Here are some hints about how to read this document:" %}
    <ul class="nested-list">
        <li>{% trans "Every release has a note about when it’s expected to go live." %}</li>
        <li>
            {% trans "Cases are spread out over categories, these should be fairly self explanatory:" %}
            <ul>
                {% for category in categories %}
                    <li>{{ category.title }}</li>
                {% endfor %}
            </ul>
        </li>
        {{ settings.RELEASE_NOTES_DISCLAIMER }}
    </ul>
    <br>
    {% for release, note in notes %}
        <h3><a href="{% url 'release-notes' release.number %}">{% blocktrans with release_number=release.number %}Release {{ release_number }}{% endblocktrans %}</a></h3>
        {{ note | safe }}
    {% endfor %}
{% endblock %}
